/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body & Layout */
  body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
/* Estilos para el Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4CAF50;
    padding: 10px 20px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px; /* Ajusta el tamaño del logo */
    height: 40px;
  }
  
  nav {
    margin-right: auto;  /* Esto asegura que el menú se desplace hacia la derecha */
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }
  
  .cart-container {
    display: flex;
    align-items: center;
  }
  
  .cart-icon img {
    width: 25px; /* Ajusta el tamaño del ícono del carrito */
    height: 25px;
  }
  
    
  
  h2 {
    color: #333;
    margin: 20px 0;
    text-align: center;
  }
  
  /* Section Styling */
  #productos-destacados, #confort, #linea-baby, #ortopedicas {
    margin: 20px 0;
    padding: 10px;
  }
  
  .producto-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .producto {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 18%;
    text-align: center;
  }
  
  .producto img {
    max-width: 100%;
    border-radius: 5px;
  }
  
  .producto h3 {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .producto p {
    color: #4CAF50;
  }
  
  .producto a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
/* Estilos para la sección de Categorías */
#categorias {
    text-align: center; /* Centra el título */
    margin: 40px 0; /* Añade espacio en la parte superior e inferior */
  }
  
  #categorias h2 {
    font-size: 24px;
    margin-bottom: 20px; /* Espacio debajo del título */
    color: #333;
  }
  
  .categoria {
    position: relative;
    width: 30%;
    margin: 0 10px; /* Añade espacio entre las imágenes */
    display: inline-block; /* Cambia a inline-block para que las imágenes se alineen horizontalmente */
    vertical-align: top; /* Alinea las imágenes arriba */
  }
  
  .categoria img {
    width: 100%;
    border-radius: 8px;
  }
  
  .label {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
  }
  
  
/* Estilos para el Footer */
footer {
    background-color: #4CAF50; /* Color verde similar al encabezado */
    padding: 40px 20px;
    color: white;
  }
  
  .footer-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0 auto;
  }
  
  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px; /* Añadir un espacio inferior */
  }
  
  .footer-left .logo-footer {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Añadir espacio debajo del logo */
  }
  
  .footer-left .logo-footer img {
    width: 150px; /* Ajusta el tamaño del logo */
    height: 50px;
    margin-right: 10px;
  }
  
  .footer-left .logo-footer p {
    font-size: 20px; /* Ajusta el tamaño del nombre */
  }
  
  .footer-left .social-media a {
    color: white;
    text-decoration: none;
    margin: 5px 0;
    display: block;
  }
  
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .footer-right .contact-info,
  .footer-right .footer-links {
    margin-bottom: 20px;
  }
  
  .footer-right h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-right p,
  .footer-right ul {
    color: white;
  }
  
  .footer-right ul {
    list-style-type: none;
  }
  
  .footer-right ul li {
    margin: 5px 0;
  }
  
  .footer-right ul li a {
    color: white;
    text-decoration: none;
  }
  
  footer p {
    text-align: center;
    margin-top: 40px; /* Añadir más espacio antes de la sección de derechos reservados */
    font-size: 14px;
    color: white;
    opacity: 0.7;
  }
  
  footer .social-media {
    margin-top: 10px;
    font-size: 18px;
  }
  
  footer .social-media a {
    margin-right: 15px;
    font-size: 20px;
    transition: transform 0.3s ease;
  }
  
  footer .social-media a:hover {
    transform: scale(1.2);
  }
  
  /* Estilo para la nueva sección de derechos reservados */
  .footer-bottom {
    background-color: #6c8c52; /* Un verde más suave para esta sección */
    text-align: center;
    padding: 10px 0;
    margin-top: 40px; /* Añadir espacio antes de la sección de derechos reservados */
  }
  
  .footer-bottom p {
    font-size: 14px;
    color: white;
  }
    
  
  