
main {
    font-family: 'Montserrat';
    text-align: center;
    padding: 150px;
    margin: 100px auto;
    max-width: 1200px;
    background-color: white;
    border-radius: 8px;
    background-color: #f9f9f9;
}


/* Estilos de la sección de contacto */
.contacto {
    /*background-color: #5E7F58;
    color: white;
    text-align: center; 
    padding: 40px 20px 90px 20px; 
    font-family: 'Montserrat', sans-serif;*/
    

}

.contacto  {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #333;
    text-align: center;
}

.contacto-contenido {
    background-color: white;
    color: #333;
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contacto-contenido h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #333;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.contacto-items {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    align-items: center;
}

.contacto-item {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.2rem;
}

.contacto-item img {
    width: 30px;
    height: 30px;
}

.equipo-desarrollo h2 , p{
    /*background-color: hsla(111, 26%, 59%, 1);*/
    color: black;
    
    /* display: inline-block; */
    padding: 8px 20px;
    margin-top: 40px;
    width: 1494;
    height: 83;
    top: 548px;
    left: 154px;
    font-family: 'Montserrat', sans-serif;
}

.equipoDesarrolloLogo img{
    width: 220px;
    height: 200px;
    border-radius: 50%;

}
