/* Estilo para el modal del carrito */
.carrito-modal {
   
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.carrito-contenido {
    background-color: #5E7F58; /* Verde de tu página */
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px; /* Ajustar el tamaño del modal */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    overflow: hidden; /* Asegura que el contenido no se desborde */
}

.carrito-contenido h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
}

.mensaje p {
    font-size: 1rem;
    margin: 10px 0;
    text-align: center;
    color: #dbdb0e;
}

.carrito-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.carrito-item img {
    width: 60px; /* Ajusta el tamaño de la imagen */
    height: auto;
}

.detalle-producto p {
    margin: 0;
    font-size: 1.2rem; /* Aumenta el tamaño del texto */
    color: white;
}

.eliminar-item {
    background: none;
    border: none;
    cursor: pointer;
}

.eliminar-item img {
    width: 20px;
    height: 20px;
}

.acciones {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 15px;
}


/* Mostrar el modal */
.carrito-modal.mostrar {
    display: flex;
}