.categorias {
    padding: 40px;
    background-color: #f9f9f9;
}

.categorias h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
}

.categoria {
    margin-bottom: 40px;
}

.categoria h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
}

.categoria .carousel-container {
    margin-bottom: 40px; /* Espacio entre el carrusel y el botón */
}

.ver-mas {
    margin: 80px auto 0 auto; /* Incrementa el margen superior para separarlo del carrusel */
}

.ver-mas:hover {
    background-color: #85B27D; /* Color de fondo al pasar el mouse */
}


