.categorias {
    padding: 40px;
    background-color: #f9f9f9;
}

.categorias h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #333;
    text-align: center;
}

.categoria {
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
}


.categorias h2{
    padding: 100px 0px 30px 0px;
}

.categoria h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #333;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.categoria h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    justify-content: center;
}


.categoria .carousel-container {
    margin-bottom: 40px; /* Espacio entre el carrusel y el botón */
}

.ver-mas {
    margin: 80px auto 0 auto; /* Incrementa el margen superior para separarlo del carrusel */
}

.ver-mas:hover {
    background-color: #0a2608; /* Color de fondo al pasar el mouse */
}

/* Layout para los productos en vista de cuadricula */
.productos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.producto {
    background-color: #ffffff;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.329);
    width: 200px; /* Ajusta el ancho según sea necesario */
    text-align: center;
    min-height: 300px;
    height: auto;
    overflow: visible;
    margin-bottom: 30px;
}

.producto img {
    max-height: 150px; /* Limita la altura de las imágenes */
    object-fit: cover; /* Asegura que las imágenes se recorten proporcionalmente */
    padding: 10px;
}

.producto p {
    margin: 10px 0;
    font-size: 1.1rem;
    color: #333;
}

.producto span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    display: block;
    margin-bottom: 10px;
}

.cuotas{
    width: 100%;
    background-color: #28721b93;
}

.producto button {
    background-color: #A7B5A0;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.producto button:hover {
    background-color: #85B27D;
}
