.catListada h3{
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
}

.productos-grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.prooductoListado{
    display: grid;
    justify-items: center;
}

/* Mobile (hasta 600px): 1 columna */
@media (max-width: 600px) {

    .productos-grid {
        display: grid;
        grid-template-columns: 50% 50%; /* Una sola columna que ocupe todo el ancho */
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px;
    }
    .producto{
        
    }

}

/* Tablets (601px a 900px): 2 o 3 columnas */
@media (min-width: 601px) and (max-width: 900px) {

    .productos-grid {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 20px;
        padding: 20px;
        align-items: center;
        justify-content: center;
    }


}