body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 60% 35%;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.left-container {

  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.right-container {
    
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.producto {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.producto-img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 8px;
}

.producto-info {
  display: flex;
  flex-direction: column;
}

.producto-nombre {
  font-size: 16px;
  font-weight: bold;
}

.productoRes{
    display: flex;

}

.acciones {
  display: flexbox;
  gap: 10px;
  margin: 10px;
}

.eliminar, .comprar-ahora {
  background-color: #34a853; /* Verde para que coincida con el estilo */
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  width: 120px;
}

.eliminar:hover, .comprar-ahora:hover {
  background-color: #0c7a29;
}

.envio {
  margin-top: 20px;
}

.envio-text {
  font-weight: bold;
}

.barra-envio {
  margin-top: 10px;
  color: #555;
}

.productos-relacionados {
  margin-top: 30px;
}

.right-container .resumen-compra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-container .detalles p {
  font-size: 16px;
  margin: 10px 0;
}

.continuar {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.continuar:hover {
  background-color: #0056b3;
}