/*SOBRE NOSOTROS ------------------------------------*/

.bloque{
    background-color: #FFFFFF;
}

.bloque{
    display: flex;
    align-items: center;
}

.miembroEquipo{
    max-width: 80px;
    max-height: 80px;
    border-radius: 500%;
}


/*MAIN CLASS------------------------------------*/

.nosotros-main {
    text-align: center;
    padding: 20px;
    color: #000000;
    
}


.hero-nosotros img {
    width: 100%;
    height: auto;
}

.titulo-nosotros {
    top: 50%;
    left: 50%;
    font-size: 48px;
    color: BLACK;
    padding: 50px;
}  

.nuestra-empresa h2,
.equipo-desarrollo h2 {
    background-color: hsla(111, 26%, 59%, 1);
    color: black;
    /* display: inline-block; */
    padding: 8px 20px;
    margin-top: 40px;
    width: 1494;
    height: 83;
    top: 548px;
    left: 154px;
    border-radius: 43px;

    
    

  }



/* Para la sección visión y misión */
#visionMision {
    display: flex;
    justify-content: center;
    gap: 480px;
    margin: 20px 0;
    flex-wrap: wrap;

  }

  .vision h3, .mision h3 {
    background-color: hsla(111, 26%, 59%, 1);
    border-radius: 20px;
    margin-top: 10px;
    font-size: 25px;
    padding: 1px 50px;
}


  .pContainer{
    display: flex;
    justify-content: center;
    gap: 300px;
    margin: 20px 0;
    flex-wrap: wrap;
  }





  /* IMAGENS DEL EQUIPO --------------------------------- */ 
.imagenes-equipo {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap;
}

.imagenes-equipo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.btn-contacto {
    background-color: hsla(111, 26%, 59%, 1);
    color: black;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    margin: 30px 0;
    cursor: pointer;
    font-size: 18px;
}

/*Contacto ------------------------------------*/

.mail {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.contacto-nosotros img {
    width: 25px; /* Ajusta este valor según el tamaño que desees */
    height: 25px;

}