/*SOBRE NOSOTROS ------------------------------------*/

.bloque{
    background-color: #FFFFFF;
}

.bloque{
    display: flex;
    align-items: center;
}


/*MAIN CLASS------------------------------------*/

.nosotros-main {
    text-align: center;
    padding: 20px;
    color: #000000;
        font-family: Monserat, sans-serif;

    
}


.hero-nosotros img {
    width: 100%;
    height: auto;
}

.titulo-nosotros {
    top: 50%;
    left: 50%;
    font-size: 48px;
    color: BLACK;
    padding: 50px;
}  

.nuestra-empresa h2,
.equipo-desarrollo h2 {
    background-color: hsla(111, 26%, 59%, 1);
    color: black;
    /* display: inline-block; */
    padding: 8px 20px;
    margin-top: 40px;
    width: 1494;
    height: 83;
    top: 548px;
    left: 154px;
    border-radius: 43px;
        font-family: Monserat, sans-serif;

  }



/* Para la sección visión y misión */

.contenedorCCG{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 20px;
}



#visionMision {
    display: flex;
    justify-content: center;
    gap: 480px;
    margin: 20px 0;
    flex-wrap: wrap;

  }

  .vision h3, .mision h3 {
    background-color: hsla(111, 26%, 59%, 1);
    border-radius: 20px;
    margin: 10px;
    font-size: 25px;
    padding: 10px;
}


  /* IMAGENS DEL EQUIPO --------------------------------- */ 

.btn-contacto {
    background-color: hsla(111, 26%, 59%, 1);
    color: black;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    margin: 30px 0;
    cursor: pointer;
    font-size: 18px;
}

/*Contacto ------------------------------------*/

.mail {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.contacto-nosotros img {
    width: 25px; /* Ajusta este valor según el tamaño que desees */
    height: 25px;

}


.mision{
    padding: 60px 60px 0px 60px;
}

.imagenes-equipo{
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
}


.miembroEquipo{
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.miembroEquipo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.miembroEquipo span {
    display: block;
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
    color: #000000; 
}

.miembroEquipo p {
    padding: 10px 0px 0px 0px ;
    text-align: center;
    font-size: 15px;
    color: #1900ff; 
}


@media screen and (max-width: 768px) {

    .nosotros-main {
        padding: 0px;
    }

    .titulo-nosotros {
        padding: 100px 0px 0px 0px;
    }

    .nuestra-empresa h2{
        font-size: 25px;
        padding: 10px;
    }

    .nuestra-empresa p{
        padding: 10px;
    }


    .contenedorCCG{
        grid-template-columns: 100%;
    }


    .imagenes-equipo{
        grid-template-columns: 50% 50%;
        padding: 10px; 
    }   

    .equipo-desarrollo{
        padding: 0px;
    }

    .equipo-desarrollo h2{
        font-size: 25px;
        padding: 10px;
    }


    .miembroEquipo{
        width: 100%;
        margin: 10px;
        justify-content: center;
        align-items: center;
    }

    .miembroEquipo img{
        width: 80px;
        height: 80px;
    }


}